* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 90vh;
  background-color: #4070f4 !important;
}

/* for nav active items */
.active {
  font-weight: bold;
}

#error-txt {
  font-size: 18px;
  color: #721c24;
  background: #f8d7da;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #f5c6cb;
  display: none;
}

#success-txt {
  font-size: 18px;
  color: #32721c;
  background: #d8f8d7;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #d1f5c6;
  display: none;
}

/* select quiz */
.cont {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.quiz-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 600px;
  overflow: hidden;
}

.quizCode {
  display: block;
  font-size: 22px;
  margin: 4px 0;
  text-decoration: none !important;
  cursor: pointer;
}

/* quiz css */
#quiz ul {
  list-style-type: none;
  padding: 0;
}

#quiz ul li {
  font-size: 1.2rem;
  margin: 1rem 0;
}

#quiz ul li label {
  cursor: pointer;
}

#quiz button {
  background-color: #03cae4;
  color: #fff;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 1.3rem;
  border-radius: 10px;
  margin: 10px;
}

#quiz button:hover {
  background-color: #04adc4;
}

#quiz button:focus {
  outline: none;
  background-color: #44b927;
}

/* score */
#scoreCont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#scoreTable {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#score-cont {
  padding: 15px;
  background-color: white;
  border-radius: 15px;
}

#score-cont thead tr {
  background-color: black;
  color: white;
}

#score-cont thead tr th {
  text-align: center;
}

#score-cont tbody tr {
  background-color: white;
}

#score-cont table th,
#score-cont table td {
  padding: 8px;
  text-align: center;
}

#score-cont table td {
  font-size: 18px;
}

#score-cont table tr:nth-child(even) {
  background-color: #cedde0;
}

#score-cont table tbody tr:hover {
  background-color: #4070f4;
  color: white;
}